config/initializers/admin_credentials.rb
.bundle
db/*.sqlite3
db/sample/images/*
log/*.log
public/system
public/albums
public/posts
public/pets
tmp/
coverage/
.sass-cache/
*.swp
rails_best_practices_output.html
config/database.yml
