<div class="hero-unit">
    <h1>Панель управления</h1>
    <p>
      Здесь вы можете управлять питомцами, фотографиями, событиями, вести блог и создавать новости.
    </p>
</div>

<div class="row">

  <div class="span4">
    <div class="well">
      <ul class="nav nav-list">
          <li class="nav-header">Фотографии</li>
          <li>
            <%= link_to "Посмотреть все", admin_photos_path %>
          </li>
          <li>
            <%= link_to "Добавить", new_admin_photo_path %>
          </li>
        </ul>
    </div>
  </div>

  <div class="span4">
    <div class="well">

    </div>
  </div>

  <div class="span4">
    <div class="well">

    </div>
  </div>

</div>
