<div class="row">
  <%= render "sidenav", :active => "new-photo" %>

  <div class="span10">
    <h1>Новая фотография</h1>
    <%= render "form", :photo => @photo, :validate => true %>
  </div>
</div>
