<div class="row">
  <%= render "sidenav", :active => active_admin_pets_menu(params[:search]) %>

  <div class="span10">
    <h1><%= admin_pets_header(params[:search]) %></h1>
    <div class="row">
      <div class="span10">
        <%= render "pets_table", :pets => @pets %>
      </div>
    </div>
  </div>
</div>
