<div class="row">
  <% if params[:owned] %>
    <%= render "sidenav", :active => "my-pets" %>
  <% else %>
    <%= render "sidenav", :active => "all-pets" %>
  <% end %>

  <div class="span10">
    <h1>Питомцы</h1>
    <div class="row">
      <div class="span10">
        <%= render "pets_table", :pets => @pets %>
      </div>
    </div>
  </div>
</div>
