<div class="patterned-block">
</div>

<section class="container container-thin centered">
  <div class="photos-composer main-row">
    <h1 class="main-row-reversed sub-row"><%= link_to @pet.name, pet_path(@pet) %></h1>
    <% @photos.each_slice(10).reverse_each do |photos_block| %>
      <div class="clearfix photo-block-<%= photos_block.count %>">
        <%= composer_block(photos_block) %>
      </div>
    <% end %>
  </div>
</section>
