<section class="container">
  <article class="row">
    <aside class="span3 thumbnails-scroller">
      <ul class="thumbnails">
        <% if @post.album.present? %>
          <% @post.photos.each do |photo| %>
            <li class="span3">
              <%= link_to "", :class => "thumbnail" do %>
                <%= image_tag(photo.image.url(:thumb)) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </aside>
    <div class="span9 post-body">
      <h1><%= @post.title %></h1>
      <%= raw(@post.body) %>
    </div>
  </article>

</section>

