/*
 *= require bootstrap.css.scss
 *= require bootstrap-responsive.css
 *= require plugins/jquery.wysiwyg.css.scss
 *= require plugins/jquery.fileupload-ui.css
*/

p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

.centered {
  display: block;
  margin: 0 auto !important;
}

#admin {
  background: #fafafa;
}
  .container {
    &.container-main {
      background: white;
      border-radius: 10px;
      padding: 10px 15px;
    }
  }

  .message.alert {
    display: inline-block;
    padding: 3px;
    margin: 0 0 0 5px;
  }
  h1 {
    margin-bottom: 20px;
  }
  .caption {
    p {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .date-select {
    select {
      width: 100px;
      &:first-child {
        width: 50px;
      }
      &:last-child {
        width: 70px;
      }
    }
  }

  .table {
    td.double-actions {
      a {
        margin-bottom: 5px;
      }
      width: 72px;
    }
    td.span3 {
      text-align: center;
    }
  }

  .photos-block {
    .thumbnail {
      margin: 0 5px 10px 0;
    }
  }
  .thumbnail {
    position: relative;
    margin: 0;
    .icon-remove-circle {
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }

  .posts-list {
    list-style: none;
    li {
      position: relative;
      margin-bottom: 40px;
      .post-actions {
        position: absolute;
        left: 240px;
        bottom: 0;
      }
    }
  }

  .asc, .desc {
    span {
      padding-left: 15px;
    }
  }
  .asc span {
    background: image-url("asc.png") left no-repeat;
  }
  .desc span {
    background: image-url("desc.png") left no-repeat;
  }

.main-row {
  margin-bottom: 15px;
}

.pull-right.actions {
  margin: 5px;
}

.thumbnail {
  img { display: block; }
  position: relative;
  &.span2 img { height: 120px; width: 160px; }
  .no-image {
    height: 168px;
    font-size: 1.3em;
    background: lightgray;
    text-align: center;
    line-height: 168px;
  }
  .photos-counter {
    color: white;
    background: black;
    padding: 4px;
    position: absolute;
    opacity: 0.6;
    left: 4px;
    top: 4px;
  }
}

.person-creator-form {
  input {
    display: none;
  }
}

.thumbnail {
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.attached-thumb {
  margin: 0 20px 15px 0;
}

.pet-new-person {
  margin-right: 90px;
}

.controls .new-person-input {
  display: none;
}

.attached-row {
  margin-bottom: 10px;
  margin-right: 70px;
  width: 390px;
  .span3 {
    margin: 0;
    width: 220px;
  }
  textarea {
    height: 120px;
    max-height: 120px;
    max-width: 210px;
  }
  label.control-label {
    padding-top: 3px;
    width: 220px;
  }
  .controls {
    margin-left: 230px;
  }
}

.pets-modal-chooser {
  height: 165px;
  overflow-y: scroll;
}

.dashboard-columns {
  .well {
    height: 306px;
  }
}

/* PETS TABLE STYLING
============================================= */

#table-pets {
  th {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
  }
}
