/*
 *= require bootstrap.css.scss
 *= require plugins/scrollpane.css
*/

@import 'bourbon';

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


@font-face {
    font-family: 'LazyCrazy';
    src: image-url('fonts/nicer-webfont.eot');
    src: image-url('fonts/nicer-webfont.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/nicer-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad';
    src: image-url('fonts/MyriadPro-Regular.eot');
    src: image-url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

a:link, a:active, a:hover, a:visited {
	outline: none;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

:focus {
    outline: 0;
}

html, body { height: 100%; }

.sub-row {
  margin-bottom: 20px !important;
}

.sub-row-reversed {
  margin-top: 20px !important;
}

.main-row {
  margin-bottom: 50px !important;
}

.main-row-reversed {
  margin-top: 50px !important;
}

.centered {
  margin: 0 auto;
}

#container {
  min-height: 100%;
  margin-bottom: -63px;
  position: relative;
}

body, .well {
  background: #f3f3f3;
}

h3, h4, p, a {
  font-family: 'Myriad';
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
}

.more-link {
  font-family: 'LazyCrazy';
  font-size: 1.3em;
  color: black;
  padding-bottom: 9px;
  &:before {
    content: image-url("more-icon.png");
    margin-right: 4px;
  }
  &:hover {
    background: image-url("more-line.png") no-repeat bottom;
    color: #3a96c5;
    text-decoration: none;
  }
}

/* HEADER
/* ==================================================================== */
header {
  width: 100%;
  background: #f1f1f1;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 2;
  .navbar {
    margin: 0 auto;
    width: 840px;
    .brand {
      height: 78px;
      line-height: 0;
      padding: 0;
      border-left: 1px dashed #d2d2d2;
      border-right: 1px dashed #d2d2d2;
    }
    .nav {
      li {
        font-size: 1.1em;
        text-transform: uppercase;
        &:hover {
          background: #c3c4c6 image-url("menu_arrow.png") 50% bottom no-repeat;
          border-left: 1px solid white;
          border-right: 1px solid white;
          margin-top: -1px;
          margin-bottom: -1px;
          a {
            color: white;
            padding: 26px 17px 0 17px;
          }
        }
        a {
          line-height: 50px;
          color: #737373;
          display: inline-block;
          padding: 24px 18px 0 18px;
        }
      }
    }
  }
}

#slider-inner {
  ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    li {
        display: block;
        overflow: hidden;
        padding: 0;
        cursor: pointer;
        height: 372px;
        width: 128px;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
    }
  }
}
/* END HEADER */

/* FOOTER
/* ==================================================================== */

.clearfooter {
  height: 63px;
}
footer {
  position: relative;
  border-top: 2px solid white;
  @include box-shadow(inset 0px 2px 5px 0px rgba(95, 87, 26, 0.3));
  background: image-url("sliderbg.jpg");
  p {
    color: #636363;
    font-size: 1.1em;
    text-align: center;
    padding: 25px 0 20px 0;
    margin: 0;
  }
}
/* END FOOTER */

.patterned-block {
  padding: 30px 0;
  position: relative;
  background: image-url("sliderbg.jpg");
  @include box-shadow(inset 0px 2px 5px 0px rgba(95, 87, 26, 0.3), inset 0px -2px 5px 0px #bcbcbc);
  section {
    margin: 13px auto;
  }
}

section.container-thin {
    width: 920px;
 }

/* SLIDER
/* ==================================================================== */

.mega-holder {
  padding: 0;
  height: 457px;
}

.mega-holder-container {
   background: image-url("waves.png") bottom center no-repeat;
   height: 100%;
   @include box-shadow(inset 0px 2px 5px 0px rgba(95, 87, 26, 0.3), inset 0px -2px 5px 0px #bcbcbc);
}
 .destroyer, .destroyer-broker {
   position: absolute;
   background: #fdfdfd;
   height: 254px;
   top: 50%;
   margin-top: -127px;
   left: 0;
   right: 0;
 }
 .destroyer {
   border-top: 1px solid #ededed;
   border-bottom: 1px solid #ededed;
   @include box-shadow(inset  0px 1px 0px 0px #bdbdbd, inset  0px 2px 0px 0px #ededed, inset  0px -1px 0px 0px #bdbdbd, inset  0px -2px 0px 0px #ededed);
   z-index: 5;
 }
 .destroyer > .tube {
   position: absolute;
   height: 252px;
   top: 50%;
   left: 0;
   right: 0;
   margin-top: -126px;
   background: white;
   z-index: 7;
 }
 .destroyer-broker {
   border-left: 1px solid #bdbdbd;
   border-right: 1px solid #bdbdbd;
   width: 918px;
   height: 256px;
   margin-top: -128px;
   left: 50%;
   margin-left: -460px;
   z-index: 6;
 }

 .mega-holder-content {
   border: 1px solid #ededed;
   @include box-shadow( inset  0 0 0 1px #bdbdbd, inset 0 0 0 2px #ededed);
   position: relative;
   top: 30px;
   margin: 0 auto;
   width: 920px;
   .mega-holder-inner {
    background: #fdfdfd;
    padding: 9px 9px 6px 9px;
    margin: 2px;
    position: relative;
    z-index: 7;
   }
 }
/* END SLIDER */



/* MAIN PAGE CENTER
/* ==================================================================== */
.hero-text {
  color: white;
  @include border-radius(4px 4px 4px 4px);
  @include linear-gradient(#c2c3c5 52%, #d4d5d7 84%);
  text-shadow: -1px -1px 0 rgba(174, 178, 179, 1);
  border-top: 1px solid #ababab;
  border-left: 1px solid #adafae;
  line-height: 30px;
  font-size: 1.5em;
  padding: 22px 22px 20px 22px;
  float: none;
  margin: 40px auto 26px auto;
}

.page-previews-holder {
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 901px;
}
.page-preview {
  margin-right: 35px;
  width: 277px;
  &:last-child {margin-right: 0;}
  p {
    color: #a1a8b0;
    margin: 0 0 9px 0;
  }
  h3 {
    margin-bottom: 5px;
  }
}

.blue-gradient {
  @include border-radius(4px 4px 4px 4px);
  @include linear-gradient(#348db7 52%, #3897c5 84%);
}

.arrowed-header {
  padding-bottom: 7px;
  background: image-url('blue_arrow.png') no-repeat bottom center;
  margin: 0 auto 30px auto;
  font-weight: normal;
  width: 347px;
  span {
    border-top: 1px solid #2f7b9f;
    border-left: 1px solid #3583a9;
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
  }
}

.thumbnail {
  p {
    color: #9fa8b1;
    margin: 3px 0 0 0;
  }
}

.thumbnail img, img.thumbnail {
    border: 1px solid #eaeaea;
    padding: 10px;
    background: white;
    @include border-radius(1px);
}

.thumbnail:hover {
  text-decoration: none;
  border-color: #0088cc;
  img {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }
}


.moar-pets-button {
  background: image-url("moarpets.png") no-repeat top left;
  width: 146px;
  height: 39px;
  display: block;
  margin: 30px auto;
   &:hover {
    background-position: bottom left;
  }
}


.pet-parents, .pet-grandparents, .pet-elders, .thumbnails-album, .puppies-preview-block {
  .thumbnail:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }
}
.puppies-preview-block {
  margin: 0 auto;
  width: 642px;
  li {
    margin: 0 30px 0 0;
    &:last-child { margin-right: 0; }
  }
}
/* END MAIN PAGE CENTER */



/* POSTS
/* ==================================================================== */

article {
  .post-body * {
    background: none !important;
  }
  p {
    font-size: 1.2em;
  }
  margin: 50px 0;
}

aside {
  position: relative;
}

#disqus_thread {
  font-family: 'Arial'
}

.hider {
  position: absolute;
  background: image-url("hider.png") repeat-x;
  height: 47px;
  width: 100%;
  margin-left: -7px;
  z-index: 10;
  &.hider-top {
    background-position: top left;
    top: 0;
    left: 0;
  }
  &.hider-bottom {
    background-position: bottom left;
    bottom: 0;
    left: 0;
  }
}

.thumbnails-scroller {
  min-height: 500px !important;
  .thumbnails {
    padding: 35px 0;
  }
}

.posts-list {
  margin: 50px auto;
  float: none;
  padding: 0;
  li {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    > div {
      padding-top: 10px;
      width: 678px;
    }
  }
  h4 {
    a {
      color: #333;
    }
    font-size: 1.4em;
  }
  .more-link {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


/* END POSTS */


/* PHOTOS
/* ==================================================================== */


.photo-full {
  border: 1px solid #b1b1b1;
  padding: 10px;
  background: white;
  display: block;
  margin: 0 auto;
}


.photo-album-container {
  background: white;
  border: 1px solid #b1b1b1;
  padding: 10px 0 5px 0px;
  ul {
    padding: 0 19px 0 0;
    margin: 0;
  }
  li {
    margin-bottom: 0;
    margin-left: 18px;
    position: relative;
    img {
      padding: 0;
      width: 138px;
    }
  }
  height: 130px;
}

.photo-description {
  background: white;
  border: 1px solid #b1b1b1;
  @include border-radius(5px);
  p {
    padding: 30px;
  }
}

.photo-current-overlay {
  position: absolute;
  background: #3a96c5;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.photo-container {
  position: relative;
}

.photo-arrow {
  position: absolute;
  top: 9px;
  bottom: 9px;
  width: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.photo-prev {
  left: 9px;
  background-image: image-url("prev_photo.png");
}

.photo-next {
  right: 9px;
  background-image: image-url("next_photo.png");
}

.photo-pets-list {
  border-bottom: 1px dashed #cccccc;
}

.photo-pills {
  margin: 0;
  font-size: 1.1em;
}

/* END PHOTOS */


/* GALLERY
/* ==================================================================== */


.thumbnails-album {
  margin: 0 auto;
  width: 788px;
  li {
    width: 182px;
    margin-left: 0;
    margin-right: 20px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.ridus a {
  display: block;
  -moz-box-sizing: border-box; /* Для Firefox */
   box-sizing: border-box; /* Ширина блока с полями */
   position: relative;
   overflow: hidden;
  img {
     position: absolute;
     top: -50%;
     left: -50%;
     max-width: none;
  }
  &:hover {
    border: 1px solid #3a96c5;
  }
}

.ridus-content {
  .mega-holder-content {
    width: 902px;
  }
  .destroyer-broker {
    width: 900px;
    margin-left: -451px;
  }
}

.ridus {
    margin: 0 auto;
    width: 880px;
}


.ridus > * {
  float: left;
  &:nth-child(1) {
    height: 352px;
    width: 352px;
    img {
      top: -20%;
    }
  }
  &:nth-child(2) {
    width: 176px;
    a {
      height: 176px;
      width: 176px;
      img {
        height: 176px;
        top: 0;
        left: 0;
      }
    }
  }

  a {
    height: 88px;
    width: 88px;
  }
}

.no-image {
  height: 168px;
  font-size: 1.3em;
  background: lightgray;
  text-align: center;
  line-height: 168px;
}


/* END GALLERY */



/* PETS
/* ==================================================================== */

.photo-pet-avatar {
    padding: 9px !important;
    margin: 0;
    height: 255px;
}

.photo-pet-thumbs {
  width: 72px;
  li {
    margin-bottom: 11px;
  }
  img {
    padding: 5px;
    width: 60px;
  }
}

.well {
  padding: 3px;
}

.pet-stats {
  height: 265px;
  width: 400px;
  dl {
    margin: 10px;
    font-size: 1.2em;
    dt, dd {
      line-height: 28px;
    }
  }
}

.pet-description {
  padding: 20px 20px 40px 20px;
}

.more-description {
  display: none;
}

.pet-parents, .pet-grandparents, .pet-elders {
  margin: 40px 0 40px 40px;
}

.pet-parents {
  margin-left: 0;
  li {
    margin: 0 0 90px 0;
    width: 380px;
    a {
      margin: 0;
    }
    img {
      height: 278px;
      width: 358px;
    }
  }
}

.pet-grandparents {
  width: 190px;
  li {
    height: 170px;
    width: 190px;
    margin-bottom: 10px;
    margin-left: 0;
    &:nth-child(2n) {
      margin-bottom: 90px;
    }
    img {
      height: 96px;
      width: 168px;
    }
    .caption {
      white-space: nowrap;
    }
    overflow: hidden;
  }
}

.pet-elders {
  a { margin: 0; }
  .caption {
    width: 110px;
  }
  width: 280px;
  li {
    height: 80px;
    margin: 0 0 10px 0;;
    width: 280px;
    &:nth-child(4n) {
      margin-bottom: 90px;
    }
    img {
      width: 100px;
      height: 68px;
      padding: 5px;
      margin: 0;
    }
  }
}

.pets-list {
  margin: 0 auto;
  width: 851px;
  li {
    float: left;
    margin: 0 25px 35px 0;
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
  img {
    height: 157px;
    width: 172px;
  }
}

/* END PETS */


.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: white;
  text-decoration: none;
  background: none;
}
