/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%; }

.jspHorizontalBar {
  display: none; }

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0; }

.jspCap {
  display: none; }

.jspTrack {
  background: #363636;
  padding-bottom: 2px;
  position: relative; }

.jspDrag {
  background: #fcfcfc;
  position: relative;
  top: 0;
  left: 2px;
  margin-top: -2px;
  cursor: pointer;
  width: 3px; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

.jspDragTop {
  height: 4px;
  background: #363636;
}
