#admin {
  background: #fafafa;
  .container {
    &.container-main {
      background: white;
      border-radius: 10px;
      padding: 10px 15px;
    }
  }

  .message.alert {
    display: inline-block;
    padding: 3px;
    margin: 0 0 0 5px;
  }
  h1 {
    margin-bottom: 20px;
  }
  .caption {
    p {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .date-select {
    select {
      width: 100px;
      &:first-child {
        width: 50px;
      }
      &:last-child {
        width: 70px;
      }
    }
  }

  .table {
    td.double-actions {
      a {
        margin-bottom: 5px;
      }
      width: 72px;
    }
    td.span3 {
      text-align: center;
    }
  }

  .photos-block {
    .thumbnail {
      margin: 0 5px 10px 0;
    }
  }
  .thumbnail {
    position: relative;
    &.thumbnail-album {
      margin: 0;
    }
    .icon-remove-circle {
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }

  .posts-list {
    list-style: none;
    li {
      position: relative;
      margin-bottom: 40px;
      .post-actions {
        position: absolute;
        left: 240px;
        bottom: 0;
      }
    }
  }
}

.main-row {
  margin-bottom: 15px;
}

.pull-right.actions {
  margin: 5px;
}

.thumbnail {
  position: relative;
  &.span2 img { height: 120px; width: 160px; }
  .no-image {
    height: 168px;
    font-size: 1.3em;
    background: lightgray;
    text-align: center;
    line-height: 168px;
  }
  .photos-counter {
    color: white;
    background: black;
    padding: 4px;
    position: absolute;
    opacity: 0.6;
    left: 5px;
    top: 5px;
  }
}

.person-creator-form {
  input {
    display: none;
  }
}
