<ul class="thumbnails">
    <% photos.each do |photo| %>
        <li class="span3">
          <figure class="thumbnail">
            <%= image_tag photo.image.url(:medium) %>
            <figcaption class="caption">
              <p>
                <%= caption(photo) %>
              </p>
              <p>
                <%= link_to "Редактировать", edit_admin_photo_path(photo), :class => "btn btn-small" %>
                <%= link_to "Удалить", admin_photo_path(photo), :method => :delete, :class => "btn btn-danger btn-small" %>
            </figcaption>
          </figure>
        </li>
    <% end %>
</ul>
